<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Edutopia</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v19.0"
    nonce="N7Rxh5Ft"></script>
  <style>
    body {
      background-color: white;
    }
  </style>
</head>

<body>
  <header>

    <nav>
      <div class="hamburger-menu">
        <div class="ham-bar bar-top"></div>
        <div class="ham-bar bar-mid"></div>
        <div class="ham-bar bar-bottom"></div>
      </div>
      <a href="#">
        <img src="images/OIG1.oN65ZopK.mpxAo14.jpeg" alt="logo" style="width: 100px; border-radius: 100%;" />
      </a>
      <div class="nav-search" id="navLinks">
        <a href="#">Categorias</a>
        <input type="text" placeholder="Buscar..." name="search" class="input" />

        <a href="#" class="login">Iniciar sesion</a>
        <a href="#" class="signup">Registrarse</a>
      </div>
      <div class="nav-right">
        <a href="#"><img src="images/cart.png" alt="" /></a>
        <a href="#"><button class="herobtn white">Iniciar sesion</button></a>
        <a href="#"><button class="herobtn black">Registrarse</button></a>
      </div>
    </nav>
  </header>

  <!-- Hero Section -->
  <section class="hero-section">
    <div class="hero-container">
      <h1>
        Una nueva marca, <br>
        un propósito renovado
      </h1>
      <br>
      <p>Seguimos mejorando el aprendizaje, ahora nos vemos mejor haciéndolo</p>
  </section>

  <!-- Courses Section -->
  <section class="courses-sec">
    <h1 style="
      font-family: SuisseWorks, Georgia, Times, times new roman, serif, apple color emoji, segoe ui emoji, segoe ui symbol;
      color: black;
  ">Una amplia selección de cursos</h1>
    <p>

      Elija entre 213.000 cursos en vídeo en línea con nuevas incorporaciones publicadas cada mes
    </p>
    <div class="course-links">
      <a href="#">Python</a>
      <a href="#">Excel</a>
      <a href="#">Desarrollador Web</a>
      <a href="#">JavaScript</a>
      <a href="#">Ciencia de Datos</a>
      <a href="#">AWS Certificacion</a>
    </div>

    <div class="career-opportunities">
      <div>
        <h2>Amplíe sus oportunidades profesionales con Python</h2>
        <p>
          Ya sea que trabaje en aprendizaje automático o finanzas, o esté siguiendo una carrera en desarrollo web o
          ciencia de datos, Python es una de las habilidades más importantes que puede aprender. La sintaxis simple de
          Python es especialmente adecuada para aplicaciones de escritorio, web y comerciales. La filosofía de diseño de
          Python enfatiza la legibilidad y la usabilidad.
        </p>
        <button class="career-btn">Explorar Python</button>
      </div>

      <div class="explore-python">
        <div>
          <img src="images/course-img1.png" alt="" />
          <h3>Aprenda Python: el curso completo de programación de Python</h3>
          <h4>Avinash Jain, The Codex</h4>
          <p>
            4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
              class="fa fa-star"></i><i class="fa fa-star-half-o"></i> <span>(4,253)</span>
          </p>
          <h3>Free</h3>
        </div>

        <div>
          <img src="images/course-img2.png" alt="" />
          <h3>Aprender Python para análisis y visualización de datos</h3>
          <h4>Jose Portilla</h4>
          <p>
            4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
              class="fa fa-star"></i><i class="fa fa-star-half-o"></i> <span>(18,586)</span>
          </p>
          <h3>Free</h3>

        </div>

        <div>
          <img src="images/course-img3.png" alt="" />
          <h3>Python para principiantes: aprenda a programar desde cero</h3>
          <h4>Edwin Diaz, Coding Faculty Solutions</h4>
          <p>
            4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
              class="fa fa-star"></i><i class="fa fa-star-half-o"></i> <span>(2,350)</span>
          </p>
          <h3>$84.99</h3>
        </div>

        <div>
          <img src="images/course-img4.png" alt="" />
          <h3>Aprenda Python: Python para principiantes</h3>
          <h4>Abrar Hussain</h4>
          <p>
            4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
              class="fa fa-star"></i><i class="fa fa-star-half-o"></i> <span>(2,822)</span>
          </p>
          <h3>$29.99</h3>
        </div>

        <div>
          <img src="images/course-img5.png" alt="" />
          <h3>Python From Scratch & Selenium WebDriver QA</h3>
          <h4>Admas Kinfu</h4>
          <p>
            4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
              class="fa fa-star"></i><i class="fa fa-star-half-o"></i> <span>(2,323)</span>
          </p>
          <h3>$109.99</h3>
          <button style="width: 100%;">Mejor vendido</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Goals Section -->
  <section class="goals" style="background-color: white;">
    <h2>Cómo los estudiantes como usted están logrando sus objetivos</h2>
    <div class="container">
      <div class="box">
        <img src="images/quote.svg.png" alt="" />
        <p>
          Me enorgullece decir que después de unos meses de tomar este curso... ¡aprobé mi examen y ahora soy un
          profesional certificado en la nube de AWS! Este contenido era exactamente lo que cubría el examen CCP.
        </p>
        <div class="learners"><img src="images/WA.png" alt="#" />Will A</div>
        <hr />
      </div>
      <div class="box">
        <img src="images/quote.svg.png" alt="" />
        <p>
          ¡Este curso me ayudó a actualizar mis habilidades de gerente de producto y a conseguir un trabajo en Facebook!
          Gracias chicos :)
        </p>
        <br />
        <br />
        <div class="learners"><img src="images/RF.png" alt="#" />Ron F</div>
        <hr />

      </div>

      <div class="box">
        <img src="images/quote.svg.png" alt="" />
        <p>
          Uno de los mejores cursos sobre gestión y liderazgo que he encontrado hasta ahora. Los consejos son prácticos
          y los ejemplos son muy identificables. Ayudaría a cualquiera a convertirse en un mejor gerente.
        </p>
        <div class="learners"><img src="images/PW.png" alt="#" />Phillip W</div>
        <hr />
      </div>
    </div>
    </div>
  </section>

  <!-- Viewing Section -->
  <section class="viewing">
    <h2>Los estudiantes vieron</h2>
    <div class="explore-python views">
      <div>
        <img src="images/course-img6.png" alt="" />
        <h3>The Complete 2023 Web Development Bootcamp</h3>
        <h4>Dr. Angela Yu</h4>
        <p>
          4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
            class="fa fa-star-half-o"></i> <span>(247,955)</span>
        </p>
        <h3>$119.99</h3>
        <button>Mejor vendido</button>
      </div>

      <div>
        <img src="images/course-img7.png" alt="" />
        <h3>100 Days of Code: The Complete Python Pro Bootcamp for 2023</h3>
        <h4>Dr. Angela Yu</h4>
        <p>
          4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
            class="fa fa-star-half-o"></i> <span>(162,432)</span>
        </p>
        <h3>$84.99</h3>
        <button>Mejor vendido</button>
      </div>

      <div>
        <img src="images/course-img8.png" alt="" />
        <h3>The Complete JavaScript Course 2023: From Zero to Expert!</h3>
        <h4>Jonas Schmedtmann</h4>
        <p>
          4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
            class="fa fa-star-half-o"></i> <span>(161,454)</span>
        </p>
        <h3>$149.99</h3>
        <button>Mejor vendido</button>
      </div>

      <div>
        <img src="images/course-img9.png" alt="" />
        <h3>React - The Complete Guide (incl Hooks, React Router, Redux)</h3>
        <h4>Academind by Maximilian Schwarzmüller,</h4>
        <p>
          4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
            class="fa fa-star-half-o"></i> <span>(171,292)</span>
        </p>
        <h3>$129.99</h3>
        <button>Mejor vendido</button>
      </div>

      <div>
        <img src="images/course-img10.png" alt="" />
        <h3>Ultimate AWS Certified Solutions Architect Associate</h3>
        <h4>Stephane Maarek | AWS Certified Cloud</h4>
        <p>
          4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
            class="fa fa-star-half-o"></i> <span>(160,038)</span>
        </p>
        <h3>$84.99</h3>
        <button>Mejor vendido</button>
      </div>
    </div>
  </section>

  <!-- Featured Section -->
  <section class="featured" style="background-color: white;">
    <h2>Temas destacados por categoría</h2>
    <div class="featured-container">
      <div>
        <h3>Desarrollador</h3>
        <div style="display: flex; align-items: center;">
          <img src="/images/python-5-logo-png-transparent.png" alt="" width="24px">
          <a href="#" style="margin-left: 3px;">Python</a>
        </div>
        <p>36,354,994 estudiantes</p>
        <div style="display: flex; align-items: center;">
          <img src="/images/5847f5bdcef1014c0b5e489c.png" alt="" width="24px">
          <a href="#">Desarrollador Web</a>
        </div>
        <p>11,415,615 estudiantes</p>
        <div style="display: flex; align-items: center;">
          <img src="/images/machine.png" alt="" width="24px">
        <a href="#" style="margin-left: 3px;">Machine Learning</a>
        </div>
        <p>7,070,015 estudiantes</p>
        <button class="">Explora más temas
        </button>
      </div>

      <div>
        <h3>Negocio </h3>
        <div style="display: flex; align-items: center;">
          <img src="/images/analisis.png" alt="" width="24px">
        <a href="#">Análisis financiero</a>
      </div>
        <p>1,195,282 estudiantes</p>
        
        <div style="display: flex; align-items: center;">
          <img src="/images/mysql.png" alt="" width="24px">
        <a href="#" style="margin-left: 3px;">MySQL</a>
        </div>
        <p>5,977,561 estudiantes</p>
        <div style="display: flex; align-items: center;">
          <img src="/images/PMP-Logo-Project-Victor.png" alt="" width="24px">
        <a href="#" style="margin-left: 3px;">PMP</a>
      </div>
        <p>1,733,398 estudiantes</p>
      </div>

      <div>
        <h3>IT and Software</h3>
        <div style="display: flex; align-items: center;">
          <img src="/images/2560px-Amazon_Web_Services_Logo.svg.png" alt="" width="24px">
        <a href="#" style="margin-left: 3px;">AWS Certification</a>
      </div>
        <p>6,078,244 estudiantes</p>
        <div style="display: flex; align-items: center;">
          <img src="/images/Hacker Logo.png" alt="" width="24px">
        <a href="#" style="margin-left: 3px;">Ethical Hacking</a>
      </div>
      
        <p>10,931,066 estudiantes</p>

        <div style="display: flex; align-items: center;">
          <img src="/images/yolallevo.png" alt="" width="24px">
        <a href="#" style="margin-left: 3px;">Cyber Security</a>
      </div>
        <p>3,998,037 estudiantes</p>
      </div>
      <div>
        <h3>Diseño</h3>
        <div style="display: flex; align-items: center;">
          <img src="/images/photoshop.png" alt="" width="24px">
        <a href="#" style="margin-left: 2px;">Photoshop</a>
      </div>
        <p>10,909,736 estudiantes</p>
        <div style="display: flex; align-items: center;">
          <img src="/images/diseno.png" alt="" width="24px">
        <a href="#" style="margin-left: 2px;">Diseño gráfico
        </a>
      </div>
        <p>3,381,052 estudiantes</p>
        <div style="display: flex; align-items: center;">
          <img src="/images/dibujo.png" alt="" width="16px">
        <a href="#" style="margin-left: 2px;">Dibujo</a>
      </div>
        <p>2,410,849 estudiantes</p>
      </div>
    </div>
  </section>




  <!-- Instructor Section -->
  <section class="instructor">
    <div class="instructor-img">
      <img src="images/instructor-1x-v3.jpg.png" alt="" />
    </div>

    <div>
      <h2>Conviértete en instructor</h2>
      <p>
        Instructores de todo el mundo enseñan a millones de estudiantes en Edutopia.
        Proporcionamos las herramientas y habilidades para enseñar lo que amas.
      </p>
      <button class="black-btn">Empiece a enseñar hoy</button>
    </div>
  </section>
  <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator"
    data-width="100%" data-numposts="1" data-order-by="reverse_time"></div>

  <!-- Footer Section -->
  <footer>
    <div class="footer-up">
      <div class="footer-nav" style="display: flex; align-items: start;">
        <div>
          <p style="color: white;">Mision</p>
          <p style="color: white;">Empoderar a las personas para que alcancen sus metas a traves del aprendizaje</p>
        </div>
        <div>
          <p style="color: white;">Vision</p>
          <p style="color: white;">Nuestra meta es ayudar a las personas a mejorar su estilo de vida preparandose tomando cursos pagos o incluso muchos cursos gratuitos para poder aprender cosas que desconocian o incluso poder aumentar su desempeno en el ambito laboral, nuestra empresa no hace distinciones entre personas de distintos generos, situaciones o origenes, solo queremos y nos comprometemos con mejorar la capacidad de aprendizaje de cualquier persona con un computadora o movil en su mano</p>
        </div>
        <div>
          <p><a href="#">Obten la aplicacion</a></p>
          <p><a href="/acerca">Acerca de nosotros</a></p>
          <p><a href="#">Contactanos</a></p>
        </div>
        <div>
          <p><a href="#">Terminos</a></p>
          <p><a href="/politica">Politica y privacidad</a></p>
          <p><a href="#">No vender ni compartir mi información personal</a></p>
          <p><a href="#">Mapa del sitio</a></p>
          <p><a href="#">Declaración de accesibilidad</a></p>
        </div>
        <div>
          <p style="color: white;">Redes sociales:</p>
          <p>
            <div style="display: flex; align-items: center; justify-content: center;">
            <img src="/images/facebook.png" alt="" width="20px" style="margin-right: 3px;">
            <a href="#" style="color: white;">Facebook</a>
            </div>
          </p>
          <p><div style="display: flex; align-items: center; justify-content: center;">
            <img src="/images/instagram.png" alt="" width="20px" style="margin-right: 3px;">
            <a href="#" style="color: white;">Instagram</a>
            </div></p>
          <p><div style="display: flex; align-items: center; justify-content: start;">
            <img src="/images/x.png" alt="" width="15px" style="margin-right: 3px;">
            <a href="#" style="color: white;">Twitter/X</a>
            </div></p>
            <p><div style="display: flex; align-items: center; justify-content: start;">
              <img src="/images/tiktok.png" alt="" width="20px" style="margin-right: 3px;">
              <a href="#" style="color: white;">Tiktok</a>
              </div></p>
        </div>
      </div>
    </div>

    <div class="footer-down">
      <div>
        <img src="images/OIG1.oN65ZopK.mpxAo14.jpeg" alt="" style="width: 100px; border-radius: 100%;" />
      </div>
      <div>
        <p>© 2023 Udotopia, Inc.</p>
      </div>
    </div>
  </footer>

  <script src="script.js"></script>
</body>

</html>
