<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Politica y Privacidad</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v19.0"
    nonce="N7Rxh5Ft"></script>
  <style>
    body {
      background-color: white;
    }
  </style>
</head>

<body>
  <header>

    <nav>
      <div class="hamburger-menu">
        <div class="ham-bar bar-top"></div>
        <div class="ham-bar bar-mid"></div>
        <div class="ham-bar bar-bottom"></div>
      </div>
      <a href="#">
        <img src="img/OIG1.oN65ZopK.mpxAo14.jpeg" alt="logo" style="width: 100px; border-radius: 100%;" />
      </a>
      <div class="nav-search" id="navLinks">
        <a href="#">Categorias</a>
        <input type="text" placeholder="Buscar..." name="search" class="input" />

        <a href="#" class="login">Iniciar sesion</a>
        <a href="#" class="signup">Registrarse</a>
      </div>
      <div class="nav-right">
        <a href="#"><img src="img/cart.png" alt="" /></a>
        <a href="#"><button class="herobtn white">Iniciar sesion</button></a>
        <a href="#"><button class="herobtn black">Registrarse</button></a>
      </div>
    </nav>
  </header>

  <!-- Hero Section -->
  <section class="hero-section">
    <div class="hero-container">
      <h1>
        Una nueva marca, <br>
        un propósito renovado
      </h1>
      <br>
      <p>Seguimos mejorando el aprendizaje, ahora nos vemos mejor haciéndolo</p>
  </section>

  <!-- Courses Section -->
  <section class="courses-sec">
    <h1 style="
      font-family: SuisseWorks, Georgia, Times, times new roman, serif, apple color emoji, segoe ui emoji, segoe ui symbol;
      color: black;
  ">Politica y Privacidad</h1>
    <p>
    </p>
    <div class="career-opportunities">
      <div>
        <p><b>
            Edutopia te informa sobre su Política de Privacidad respecto del tratamiento y protección de los datos de
            carácter personal de los usuarios y clientes que puedan ser recabados por la navegación o contratación de
            servicios a través del sitio Web <a href="http://edutopia.onrender.com" target="_blank">Edutopia</a>.
            En este sentido, el Titular garantiza el cumplimiento de la normativa vigente en materia de protección de
            datos personales, reflejada en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales
            y de Garantía de Derechos Digitales (LOPD GDD). Cumple también con el Reglamento (UE) 2016/679 del
            Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas
            (RGPD).

            El uso de sitio Web implica la aceptación de esta Política de Privacidad así como las condiciones incluidas
            en el Aviso Legal.
          </b></p>
      </div>


    </div>
  </section>




  </section>
  <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator"
    data-width="100%" data-numposts="1" data-order-by="reverse_time"></div>

  <!-- Footer Section -->
  <footer>
    <div class="footer-up">
      <div class="footer-nav" style="display: flex; align-items: start;">
        <div>
          <p style="color: white;">Mision</p>
          <p style="color: white;">Empoderar a las personas para que alcancen sus metas a traves del aprendizaje</p>
        </div>
        <div>
          <p style="color: white;">Vision</p>
          <p style="color: white;">Nuestra meta es ayudar a las personas a mejorar su estilo de vida preparandose
            tomando cursos pagos o incluso muchos cursos gratuitos para poder aprender cosas que desconocian o incluso
            poder aumentar su desempeno en el ambito laboral, nuestra empresa no hace distinciones entre personas de
            distintos generos, situaciones o origenes, solo queremos y nos comprometemos con mejorar la capacidad de
            aprendizaje de cualquier persona con un computadora o movil en su mano</p>
        </div>
        <div>
          <p><a href="#">Obten la aplicacion</a></p>
          <p><a href="/acerca">Acerca de nosotros</a></p>
          <p><a href="#">Contactanos</a></p>
        </div>
        <div>
          <p><a href="#">Terminos</a></p>
          <p><a href="/politica">Politica y privacidad</a></p>
          <p><a href="#">No vender ni compartir mi información personal</a></p>
          <p><a href="#">Mapa del sitio</a></p>
          <p><a href="#">Declaración de accesibilidad</a></p>
        </div>
        <div>
          <p style="color: white;">Redes sociales:</p>
          <p>
          <div style="display: flex; align-items: center; justify-content: center;">
            <img src="/img/facebook.png" alt="" width="20px" style="margin-right: 3px;">
            <a href="#" style="color: white;">Facebook</a>
          </div>
          </p>
          <p>
          <div style="display: flex; align-items: center; justify-content: center;">
            <img src="/img/instagram.png" alt="" width="20px" style="margin-right: 3px;">
            <a href="#" style="color: white;">Instagram</a>
          </div>
          </p>
          <p>
          <div style="display: flex; align-items: center; justify-content: start;">
            <img src="/img/x.png" alt="" width="15px" style="margin-right: 3px;">
            <a href="#" style="color: white;">Twitter/X</a>
          </div>
          </p>
          <p>
          <div style="display: flex; align-items: center; justify-content: start;">
            <img src="/img/tiktok.png" alt="" width="20px" style="margin-right: 3px;">
            <a href="#" style="color: white;">Tiktok</a>
          </div>
          </p>
        </div>
      </div>
    </div>

    <div class="footer-down">
      <div>
        <img src="img/OIG1.oN65ZopK.mpxAo14.jpeg" alt="" style="width: 100px; border-radius: 100%;" />
      </div>
      <div>
        <p>© 2023 Udotopia, Inc.</p>
      </div>
    </div>
  </footer>

  <script src="script.js"></script>
</body>

</html>